body{
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}
h1{
    font-size: 40px;
    line-height: 0.7;
}
 #color-highlight1{
    color:#363958;
}
#color-highlight2{
    color:salmon;
}


.half-width{
    width: 32%;
    float: left;
    margin:4% 6%;
    
    
    
}
.half-width img{
    width: 100%;

}
.button{
    text-decoration: none;
    color: white;
    background-color: tomato;
    border-radius:5px;
    padding: 10px 25px;
}
#last-work{
   
    display: inline-block;
    text-align: center;
    background-color: rgb(226, 219, 219);
    height: 300px;
}
    .project{
            width: 25%;
            float: left;
            margin-left: 7%;
            padding:4px;
            box-shadow: 20px 20px 40px gray;
            border-radius: 10px;
            text-align: center;
    }
    .project img{
        width: 100%;
    }
    section{
        padding-bottom: 150px;
    }
#contactme{
    background-image: url(images/bg.png);
   display: inline-block;

}
