body{
    font-family: 'Bebas Neue', cursive;
}
h1{
    font-size: 40px;
    line-height: 0.7;
}
 #color-highlight1{
    color:#363958;
}
#color-highlight2{
    color:salmon;
}


.half-width{
    width: 32%;
    float: left;
    margin:4% 6%;
    
    
    
}
.half-width img{
    width: 100%;

}
.button{
    text-decoration: none;
    color: white;
    background-color: tomato;
    border-radius:5px;
    padding: 10px 25px;
}
.third{
    width: 25%;
    margin-left: 3%;
    float: left;
}
img{
    width: 80%;
}
            
